<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115284084035-u8ibqde2iu5gqfe3ll5p811sbvncpjod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115284084035-u8ibqde2iu5gqfe3ll5p811sbvncpjod</string>
	<key>API_KEY</key>
	<string>AIzaSyCXfeGaBmqDlRxHvbG5Bwt6wMQqi5TaM08</string>
	<key>GCM_SENDER_ID</key>
	<string>115284084035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceo.owner</string>
	<key>PROJECT_ID</key>
	<string>ceo-owner</string>
	<key>STORAGE_BUCKET</key>
	<string>ceo-owner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115284084035:ios:d3ddecd40e8adb3b411bf6</string>
</dict>
</plist>